.accordion {
  max-width: 100%;
  margin: 0 auto;

  @include respond(desktop) {
    display: flex;
  }

  &__item {
    position: relative;
    background-color: #fff;

    @include respond(desktop) {
      display: inline-block;
    }
  

    &--agrotechnics {
      background: url(../img/agrotechnic.jpg);
      background-position: center;
      background-size: cover;
    }

    &--light-transport {
      background: url(../img/light-car.jpg);
      background-position: center;
      background-size: cover;
    }

    &--transfers {
      background: url(../img/heavy_transfers.jpeg);
      background-position: center;
      background-size: cover;
    }
    
    &--spec-tech {
      background: url(../img/spec-technic.jpg);
      background-position: center;
      background-size: cover;
    }

    &--railway {
      background: url(../img/railway-transport.jpg);
      background-position: center;
      background-size: cover;
    }
  }

  &__name {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-weight: 800;
    font-size: 2rem;
    text-indent: 15px;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
    color: $gray-color;

    @include respond(tab-port) {
    }

  }

  &__description {
    font-size: 1.5rem;
    line-height: 2;
    padding: 10px;
    background: rgba(white, 0.6);

    @include respond(tab-port) {
    }
  }
}

.accordion li p {
  display: none;
  padding: 10px 25px 30px;
}
