.accordion {
  max-width: 100%;
  margin: 0 auto;

  @include respond(desktop) {
    display: flex;
    width: 100%;
  }

  &__item {
    position: relative;
    background-color: #fff;

    @include respond(desktop) {
      display: inline-block;
      width: 100%;
    }

    &--agrotechnics {
      background: url(../img/agrotechnic.jpg);
      background-position: center;
      background-size: cover;
    }

    &--light-transport {
      background: url(../img/light-car.jpg);
      background-position: center;
      background-size: cover;
    }

    &--transfers {
      background: url(../img/heavy_transfers.jpeg);
      background-position: center;
      background-size: cover;
    }
    
    &--spec-tech {
      background: url(../img/spec-technic.jpg);
      background-position: center;
      background-size: cover;
    }

    &--railway {
      background: url(../img/railway-transport.jpg);
      background-position: center;
      background-size: cover;
    }
  }

  &__name {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-weight: 800;
    font-size: 2rem;
    text-indent: 15px;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
    color: $gray-color;
    z-index: 1000;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2;
    padding: 10px;
    background: rgba(white, 0.6);
    margin-top: -60px;

    &--item-head {
      font-weight: 800;
      display: block;

    }

    &--item {
      position: relative;
      display: block;
      padding-left: 5%; 

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #1c7fff;
        border-radius: 100px;
        top: 0;
        left: 0;
        transform: translate(50%, 90%);
        
      }
      @include respond(small-paddings) {
        padding-left: 10%; 
      }
    }
  }
}

.accordion li p {
  display: none;
  padding: 10rem 10% 3rem;
}

.active {
  color: black;
}
