.accordion {
  max-width: 100%;
  margin: 0 auto;

  &__item {
    position: relative;
    background-color: #fff;
    
  }

  &__name {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-weight: 800;
    font-size: 2rem;
    text-indent: 15px;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
    color: $gray-color;

    &--agrotechnics {
        background: url(../img/agrotechnic.jpg);
        background-position: center;
        background-size: cover;

        &:visited,
        &:active {
          z-index: -1;
        }
      }

      &--light-transport {
        background: url(../img/light-car.jpg);
        background-position: center;
        background-size: cover;
      }

      &--transfers {
        background: url(../img/light-car.jpg);
        background-position: center;
        background-size: cover;
      }
      &--spec-tech {
        background: url(../img/spec-technic.jpg);
        background-position: center;
        background-size: cover;
      }

      &--railway {
        background: url(../img/railway-transport.jpg);
        background-position: center;
        background-size: cover;
      }
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2;
    padding: 10px;

  }

}

.accordion li p {
  display: none;
  padding: 10px 25px 30px;
}
