.btn {
  display: block;
  width: 70%;
  text-align: center;
  padding: 1.6rem 0;
  background: $btn-bg;
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s;
  @include respond(tab-port) {
    width: 40%;
  }

  @include respond(desktop) {
    width: 30%;

    &:hover {
      transform: translateY(-.4rem);
      box-shadow: 0 1rem 2rem rgba(0,0,0, .3);
    }

    &:active,
    &:visited {
      transform: translateY(-.2rem);
      box-shadow: 0 .5rem 1rem rgba(0,0,0, .3);

    }
  }


  &--center {
    margin: auto;
  }

  &-block {
    padding: 0 0 2rem 0;
  }
}