main {
  padding-bottom: 4rem;
}

.btn {
  width: 90%;
  text-align: center;
  padding: 1.6rem 0;
  background: $btn-bg;
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s;
  outline: none;
  border: 0;

  &--center {
    margin: auto;
  }


  &:hover {
    transform: translateY(-.4rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .3);
  }

  &:active,
  &:visited {
    transform: translateY(-.2rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .3);
    transition: .1s;

  }

  @include respond(tab-port) {
    width: 50%;
  }

  @include respond(desktop) {
    width: 30%;

  }

  &__desk {
    display: none;
    
    @include respond(desktop) {
      display: block;
      width: 80%;
    }
  }

  &__mobile {
    display: block;

    @include respond(desktop) {
      display: none;
    }
  }

}