#popup{
    display: none;
}

.modal-box {
  position: fixed;
  max-width: 65rem;
  min-width: 30rem;
  height: auto;
  font-size: 2.5rem;
  background-color: rgb(145, 145, 145);
  padding: 6rem 8rem;
  letter-spacing: .1rem;
  border-radius: 20px;
  box-shadow: 1rem 1rem 1rem rgba(#000000, .4); 

  @media (max-width: 76.8em) {
    width: 90%;
  }

  &__esc {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-block;
    padding: 0 .5rem;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20px;
    transition: all 1s;
  
    &:hover {
        background-color: #fff;
        color: rgb(36, 233, 247);
    }
  }
}

.center {
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}



